<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1> User Manipulation </h1> <br/> <br />
    <form name="user-form" action="/form/" method="post">
        Username:       <input name="username" type="text" /> <br />
        Shell:          <input name = "shell"  type="text" /> <br />
        Password:       <input name ="password" type="password" /> <br />
        Home Directory: <input name = 'directory', type="text"> <br />
        Action:         <select name="action">
                            <option value="create">Create</option>
                            <option value="modify">Modify</option>
                            <option value="delete">Delete</option>
                        </select> <br />
        <input type="submit" name="Submit" value="Submit" />
    </form>

</body>
</html>